<!DOCTYPE html>
<html lang="en">

    <head>
        <title>The Shopping List</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
        <link rel="stylesheet" href="./style.css">
        <!-- Adsense -->
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({
                google_ad_client: "ca-pub-3925429900943771",
                enable_page_level_ads: true
            });
        </script>
    </head>

    <body>
        <div id="app">
            <div class="header d-flex flex-column text-center mb-4">
                <h1>{{ header.toLocaleUpperCase() }}</h1>
                <p v-if="items.length === 0">Press Add Items to get started!</p>
            </div>
            <div class="text-center mb-5">
                <button
                v-if="state === 'edit'" 
                class="btn btn-primary"
                :disabled="newItem.length === 0"
                @click="saveItem">Save Items</button>
                <button 
                v-if="state === 'default'" 
                @click="changeState('edit')"
                class="btn btn-primary">Add Item</button>

                <button v-else
                @click="changeState('default')"
                class="btn btn-cancel">Cancel</button>
            </div>
            <div 
            class="mt-5 mb-5"
            v-if="state === 'edit'">
                <div class="add-item-form d-flex">
                    <input
                    maxlength="100"
                    class="w-100 d-block" 
                    type="text" 
                    v-model="newItem"
                    placeholder="Add an item"
                    @keyup.enter="saveItem">
                </div>
                <div>
                    <p class="ml-2 m-1"> {{ characterCount }}/100 </p>
                </div>
            </div>

            <div class="d-block">
                <ol class="list-group">
                    <li
                    class="list-item m-1" 
                    v-for="(item, index) in items" 
                    @click="togglePurchased(item)"
                    :class="[item.purchased ? 'strikeout' : '']">{{ item.label }} <i @click="removeItem(index)" class="ml-5 fas fa-times-circle no-strikeout"></i></li>
                </ol>
            </div>
        </div>

        <script src="https://unpkg.com/vue/dist/vue.js"></script>
        <!-- <script src="https://cdn.jsdelivr.net/npm/vue"></script> -->
        <script>
        
            var vm = new Vue ({
                el: '#app',
                data:{
                    state: "default",
                    header: "The Shopping List APP",
                    newItem: "",
                    items: []
                },
                computed:{
                    characterCount(){
                        return this.newItem.length;
                    }
                },
                methods: {
                    saveItem: function(newItem){
                        if (this.newItem.length > 0){
                            this.items.push({
                                label: this.newItem,
                                purchased: 0
                            });
                            this.newItem = "";
                        }
                    },
                    changeState: function (newState) {
                        this.state = newState;
                        
                        this.newItem = "";
                    },
                    togglePurchased: function(item){
                        item.purchased = !item.purchased;
                    },
                    removeItem: function (index) {
                        this.$delete(this.items, index);
                    }
                }
            });
        
        </script>
    </body>

</html>